<h1>Todos Index</h1>

<a href="{% url 'todos:categories_index' %}">Categories</a>
<a href="{% url 'todos:new' %}">New todo</a>

{% for todo in todos %}
  <div class="todo-container">
    <h4><a href="{% url 'todos:show' todo.id %}">{{ todo.task }}</a></h4>

    <ul>
      <strong>Status: </strong> {{ todo.completed }}
    </ul>

    <ul>
      <strong>Categories: </strong>
      {% for category in todo.categories.all %}
        <a href="{% url 'todos:categories_show' category.id %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endfor %}
