<h1>Create a new Todo</h1>

<a href="{% url 'todos:index' %}">Todos</a>
<a href="{% url 'todos:categories_index' %}">Categories</a>

{% if errors %}
  <h3>Errors</h3>
  <ul>
  {% for error in errors %}
    <li> {{ error }} </li>
  {% endfor %}
  </ul>
{% endif %}

<form action="{% url 'todos:create' %}" method="post">
  {% csrf_token %}

  <label for="todo[task]">Task</label>
  <input type="text" name="todo[task]" placeholder="Enter a todo">

  <select multiple name="todo[category_ids]" aria-label="category_ids">
    <option value="" disabled="disabled">Optional select categories</option>
    {% for cat in categories %}
      <option value="{{ cat.id }}">{{ cat.name }}</option>
    {% endfor %}
  </select>

  <input type="text" name="new_category[name]" placeholder="Create a new category">

  <input type="submit" value="New Todo">
</form>
